* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: ClutchSans;
  src: url(../fonts/clutchsans.otf); }

@font-face {
  font-family: SFUIDisplay;
  src: url(../fonts/SFUIDisplay.ttf); }

.container {
  width: 100%; }
  .container .row {
    width: 82.8125vw;
    margin: 0 auto; }

.quiz {
  width: 99vw;
  font-family: ClutchSans;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.35417vw; }

.quiz-wrapper {
  width: 87.1875vw;
  height: 58.95833vw;
  padding-top: 3.64583vw;
  padding-bottom: 3.38542vw;
  padding-left: 7.39583vw;
  padding-right: 13.4375vw;
  position: relative; }

.quiz-title {
  font-size: 4.6875vw;
  margin-bottom: 1.19792vw; }

.quiz-text {
  font-size: 2.5vw;
  margin-bottom: 3.125vw; }
  .quiz-text_red {
    font-size: 3.125vw;
    color: #ff0000; }

.progress-bar {
  width: 100%;
  height: 1.25vw;
  background-color: #D9D9D9;
  display: flex;
  overflow: hidden; }

.progress-bar-item {
  width: 9.32292vw;
  width: 12.5%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; }
  .progress-bar-item:first-child:after {
    content: "";
    height: 0;
    width: 0; }
  .progress-bar-item:after {
    content: "";
    height: 3.64583vw;
    width: 5.20833vw;
    transform: rotate(61deg);
    background-color: #D9D9D9;
    border-left: 1px solid #fff;
    position: absolute;
    left: -2.70833vw;
    top: 1.25vw; }

.display-block {
  display: block; }

.progress-bar-active {
  background-color: #ff0000; }
  .progress-bar-active:after {
    background-color: #ff0000; }

.progress-bar-text {
  color: #fff;
  font-size: 1.09375vw;
  font-family: SFUIDisplay; }

.question-wrapper {
  font-size: 3.75vw;
  height: 7.08333vw;
  margin-top: 1.25vw;
  margin-bottom: 2.76042vw;
  background: white;
  background: linear-gradient(90deg, white 25%, #707070 100%, #707070 100%);
  display: flex;
  align-items: center;
  font-family: ClutchSans; }
  .question-wrapper:before {
    content: " \2023";
    color: #FF0000;
    margin-right: 1.14583vw; }

.step-1, .step-2, .step-3, .step-4, .step-5, .step-6, .step-7 {
  font-family: SFUIDisplay;
  text-transform: uppercase; }

.step-1 {
  background-image: url("./images/backgroundimg1.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center; }

.checkbox {
  width: 1.04167vw;
  height: 1.04167vw;
  margin-right: 2.08333vw;
  border: 2px solid #000000; }

.checkbox:hover {
  background-color: #FF8A8A; }

.checked-checkbox {
  width: 1.04167vw;
  height: 1.04167vw;
  margin-right: 2.08333vw;
  border: 2px solid #000000;
  display: flex;
  align-items: center;
  justify-content: center; }

.checked-checkbox:hover {
  background-color: #FF8A8A; }

.dot {
  width: 0.625vw;
  height: 0.625vw;
  background-color: #FF0000; }

.checked {
  padding: 4px;
  background-color: #FF0000; }

.red {
  border-color: #FF0000;
  margin-right: 0; }

.step-counter {
  text-align: right;
  margin-top: 0.67708vw; }

.answer-cards-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5625vw; }

.answer-card {
  width: 16.61458vw;
  height: 20.20833vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 7px 20px 0 rgba(0, 0, 0, 0.2); }

.answer-card-title {
  font-size: 1.04167vw; }

.answer-card-text {
  font-size: 0.78125vw;
  margin-bottom: 1.5625vw;
  margin-top: 0.78125vw;
  text-transform: none; }

.image-wrapper {
  height: 13.02083vw;
  display: flex;
  align-items: center; }

.step1-image1 {
  height: 8.85417vw; }

.step1-image2 {
  height: 11.97917vw; }

.step1-image3 {
  height: 11.97917vw; }

.step1-image4 {
  height: 9.375vw; }

.items-wrapper {
  display: flex;
  flex-wrap: wrap; }

.step2-item {
  display: flex;
  align-items: center;
  width: 50%;
  margin-top: 2.08333vw; }

.step3-wrapper {
  display: flex; }

.step3-items-wrapper {
  width: 50%;
  display: flex;
  flex-direction: column; }

.step6-items-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.88542vw; }

.step3-item {
  display: flex;
  align-items: center; }

.step6-item {
  display: flex;
  align-items: center;
  width: 50%;
  margin-top: 0.26042vw; }

.step7-items-wrapper {
  display: flex;
  flex-wrap: wrap; }

.step7-item {
  display: flex;
  align-items: center;
  width: 50%;
  margin-top: 2.08333vw; }

.big-item {
  width: 100%; }

.step3-item {
  margin-top: 2.08333vw; }

.url-input-wrapper {
  margin-top: 2.08333vw;
  display: flex;
  flex-direction: column; }

.url-input {
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  font-size: 1.35417vw;
  width: 36.04167vw;
  margin-top: 2.08333vw; }

input[type=range] {
  -webkit-appearance: none;
  margin: 15px 0;
  width: 59.84375vw; }
  input[type=range]:focus {
    outline: none; }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.83333vw;
    cursor: pointer;
    box-shadow: 10px 10px 44px -2px rgba(0, 0, 0, 0.17);
    color: #FF0000;
    background: #FF0000; }
  input[type=range]::-webkit-slider-thumb {
    background-color: #fff;
    border: 1px solid #707070;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 20%;
    width: 1.09375vw;
    height: 2.86458vw;
    position: relative;
    bottom: 7px;
    cursor: pointer;
    z-index: 2;
    background-image: url("./images/thumb.png");
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: center;
    -webkit-appearance: none;
    margin-top: -8px; }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 0.83333vw;
    cursor: pointer;
    box-shadow: 10px 10px 44px -2px rgba(0, 0, 0, 0.17);
    background: #FF0000; }
  input[type=range]::-moz-range-thumb {
    background-color: #fff;
    border: 1px solid #707070;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 20%;
    width: 1.09375vw;
    height: 2.86458vw;
    position: relative;
    bottom: 7px;
    cursor: pointer;
    z-index: 2;
    background-image: url("./images/thumb.png");
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: center; }
  input[type=range]::-ms-track {
    width: 100%;
    height: 0.83333vw;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent; }
  input[type=range]::-ms-fill-lower {
    background: #e60000;
    box-shadow: 10px 10px 44px -2px rgba(0, 0, 0, 0.17); }
  input[type=range]::-ms-fill-upper {
    background: #FF0000;
    box-shadow: 10px 10px 44px -2px rgba(0, 0, 0, 0.17); }
  input[type=range]::-ms-thumb {
    background-color: #fff;
    border: 1px solid #707070;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 20%;
    width: 1.09375vw;
    height: 2.86458vw;
    position: relative;
    bottom: 7px;
    cursor: pointer;
    z-index: 2;
    background-image: url("./images/thumb.png");
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: center; }
  input[type=range]:focus::-ms-fill-lower {
    background: #FF0000; }
  input[type=range]:focus::-ms-fill-upper {
    background: #ff1a1a; }

.step5-range {
  position: relative;
  width: fit-content;
  font-family: SFUIDisplay;
  font-size: 1.04167vw; }
  .step5-range:before {
    content: "0";
    position: absolute;
    left: 0;
    top: 75%; }
  .step5-range:after {
    content: "10000";
    position: absolute;
    right: 0;
    top: 75%; }

.bubble {
  padding: 4px 12px;
  font-family: SFUIDisplay;
  font-size: 1.04167vw;
  position: absolute;
  border-radius: 4px;
  left: 50%;
  top: 120%;
  transform: translateX(-50%); }

.range-background {
  position: absolute;
  top: 0.78125vw;
  width: 59.84375vw;
  height: 0.83333vw;
  box-shadow: 4px 3px 6px 2px rgba(0, 0, 0, 0.11);
  background-color: #ffffff;
  right: 0;
  top: 15px;
  z-index: 1; }

.btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  bottom: 2.70833vw;
  left: 30%; }

.warning-text {
  font-size: 0.9375vw;
  color: #ff0000; }

.next-step-btn {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 0.52083vw;
  border: 3px solid #000;
  width: 13.33333vw;
  height: 3.80208vw;
  font-family: SFUIDisplay;
  text-transform: uppercase;
  font-size: 1.25vw; }
  .next-step-btn:before {
    content: "";
    width: 2.39583vw;
    height: 0.10417vw;
    background-color: #000;
    position: absolute;
    left: -10%;
    top: 50%; }
  .next-step-btn:after {
    content: "";
    width: 2.39583vw;
    height: 0.10417vw;
    background-color: #000;
    position: absolute;
    right: -10%;
    top: 50%; }
  .next-step-btn:hover {
    font-size: 1.35417vw; }
    .next-step-btn:hover:before {
      left: -15%; }
    .next-step-btn:hover:after {
      right: -15%; }

.hide {
  display: none; }

.visibility-hidden {
  visibility: hidden; }

